
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0;
}

.header-container {
    background-color: #f6f8fa;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1 {
    display: flex;
    align-items: center;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
}
.nav-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    transition: .3s;
}
* {
    box-sizing: border-box;
  }
  .avatar {
    width: 200px;
    height: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 025);
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #c9cfcf86;
  }
  .section {
    width: 50%;
    padding: 20px;
  }
 
  
.footer-github {
    width: 121px;
    height: 45px;
    background-image: url("./assets/img/github.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-rss {
    width: 121px;
    height: 45px;
    background-image: url("./assets/img/rs_school_js.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #f6f8fa;
    width: 100%;
    border-top: 1px solid black;
}

.code-example {
    display: inline-block;
    font-size: 85%;
    background-color: #f6f8fa;
    padding: 20px;
}
a {
    color: #738899fd;
    transition: color 0.5s;
}
a:hover {
    color: #424f58fd;
    text-decoration: none;
  }
.section-item a {
    color: #5c5a5a; 
    transition: color 0.5s;
  }
  .section-item a:hover {
    color: #829985;
  }

  

  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
